
header {
  background-color: lightgray;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav img {
  width: 200px;
  height: 70px;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header nav ul li {
  padding: 10px 20px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  flex-direction: column;
}

body>main>img {
  width: 960px;
  height: 450px;
}

div>img {
  height: 400px;
  width: 480px;
  padding-right: 30px;
}

div article {
  display: flex;
  flex-direction: column;
}

div article p {
  width: 450px;
  height: 360px;
}